p {
    color: blue;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sarutobi {
    color : red;
    font-size: 12px;
}

li {
    list-style-position: inside
}